<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8">
  <title>Luxury hotel and spa</title>
  <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" />

   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
    <div class="navbar-2 w-nav" data-animation="default" data-collapse="medium" data-duration="400">
    <div class="w-container"><a class="w-nav-brand" href="#"><img class="image-5" sizes="200px" src="/images/grand.png" srcset="/images/grand-p-500.png 500w, /images/grand-p-800.png 800w, /images/grand.png 906w" width="200"></a>
    
    </div>
  </div>

    {{{ body }}}
    
  

</body>
</html>